<%- layout('/layouts/boilerplate') %>

    <% for (let post of posts) {%>
        <div class="card mb-3">
            <a href="posts/<%= post._id %>" class="post-link">
                <img src="<%= post.image %>" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=post.title%>
                    </h5>
                    <p class="card-text">
                        <%= post.text.slice(0,150) + '...' %>
                    </p>
                </div>
                <div class="card-body d-flex">
                    <form class="vote-up" data-id="<%= post._id %>">
                        <button class="btn btn-sm btn-success" type="submit">Vote Up</button>
                    </form>
                    <form class="vote-down" data-id="<%= post._id %>">
                        <button class="btn btn-sm btn-danger" type="submit">Vote Down</button>
                    </form>
                </div>
            </a>
        </div>
        <% } %>