<%- layout('/layouts/boilerplate') %>

    <div class="card mb-3">
        <img src="<%= post.image%> " class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">
                <%= post.title %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                <%= post.author.username %>
            </h6>
            <p class="card-text">
                <%= post.text %>
            </p>
            <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                    <a href="/posts/<%= post._id %>/edit" class="btn btn-info">Редактировать</a>
                </div>
                <div class="col-12">
                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--COMMENTS AREA -->
    <form action="/posts/<%= post._id %>/comments" method="POST" class="needs-validation mb-3" novalidate>
        <div class="mb-3">
            <label for="text" class="form-label">Комментарий</label>
            <textarea name="comment[text]" class="form-control" id="text" rows="5" required></textarea>
            <div class="invalid-feedback">
                Комментарий не может быть пустым
            </div>
        </div>
        <button type="submit" class="btn btn-success">Отправить</button>
    </form>
    <div class="mb-3">
        <% for (comment of post.comments){%>
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">
                        <%= comment.text %>
                    </p>
                    <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
            <% } %>
    </div>